ul {
    list-style: none;
}
ul li {
    margin-bottom: 1rem;
}
.oi {
    margin-right: 0.4rem;
}
.nav-link {
    font-size: 12px; 
}
@media (max-width: 767.98px) { 
    body.bg-light {
        background-color: #fff!important
    }
 }
 @media print {
     a:not(.btn) {
         text-decoration: none;
     }
     .nav {
         display: none;
    }
     .container {
         margin-top: 2rem;
     }
     body {
        background-color: #f8f9fa!important;
     }
     .personal-info {
        background-color: #f8f9fa!important;
     }
}