ul {
    list-style: none;
}
ul.min-space{
    padding-left: 20px;
}
ul.strech li {
    margin-bottom: 0.4rem;
}
ul li {
    margin-bottom: 1rem;
}
ul li img {
    max-width: 60px;
}
.oi {
    margin-right: 0.4rem;
}
.nav-link {
    font-size: 12px; 
}
body {
    margin-bottom: 2rem;
}
 @media print {
     a:not(.btn) {
         text-decoration: none;
     }
     .print-hidden {
         display: none;
    }
     .container {
         margin-top: 2rem;
     }
     .bg-light {
        -webkit-print-color-adjust: exact; 
     }
     .mb-4 {
         margin-bottom: 1rem!important;
     }
}